/* Định dạng cho bảng */
.table {
    width: 100%;
    border-collapse: collapse;
}

/* Định dạng cho tiêu đề bảng (thead) */
.table thead th {
    background-color: #f8f8f8;
    text-align: left;
    padding: 8px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

/* Định dạng cho dòng dữ liệu trong bảng (tbody) */
.table tbody td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* Định dạng cho các nút thao tác */
.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 6px 12px;
    margin-right: 4px;
    cursor: pointer;
}

/* Định dạng cho nút xóa */
.button-delete {
    background-color: #dc3545;
}

.order-product__item {
    padding: 0 0 5px;
    margin: 0;
}

.order-product__item {

    font-weight: 500;
    color: var(--color-primary);
}

.order_quantity {
    color: gray;
    font-weight: 300
}

.order-price__total {
    color: var(--color-primary);
    font-weight: 500;
}