.order-detail {
    margin: 0 auto;
    padding: 0 20px 20px;
    border: 1px solid #eee;
    border-radius: 3px;
    margin-bottom: 20px;
}

h1,
h2,
h3,
h4 {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 3px;
}

select {
    /* -webkit-appearance: none; */
    padding: 7px 20px 7px 8px;
    border: 1px solid #eee;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
}

select:required:invalid {
    color: #5a667f;
}

select option {
    color: #223254;
}

select:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.05);
}

.order-detail__total {
    text-align: right
}

.order-detail__total .danger {
    color: var(--color-primary);
}

@media (max-width: 768px) {
    .order-detail {
        padding: 10px;
    }

    table {
        font-size: 14px;
    }
}